.project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(90%, calc(100% - 40px), 550px);
    height: 165px;
    margin: 0 auto;
    margin-top: 15px;
    border: 5px solid #333;
    background-color: #222;
    border-radius: 10px;

}

#finar .center {
    transform: scale(1.2);
}
#finar .center h2 {
    margin-top: 0;
}

.center {
    width: 50%;
    margin: 0 auto;
}