.main {
    color: white;
    text-align: center;
    position: relative;
    top: 20%;
    margin: 0%;
    font-family: monospace;
}

.bigtitle {
    font-size: 100px;
    margin-bottom: 0%;
}

.smalltitle {
    font-size: 20px;
}